.Settings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: white;
}

.InputBoxes {
  display: flex;
  align-items: center;
}

.DiffViewer {
  margin: 10px;
}