@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

.TextBox {
	flex-grow: 1;
	margin: 10px;
}

.TextBox textarea {
	font-family: 'Fira Code', monospace;
	font-size: medium;
	color: white;
	height: 50vh;
	width: 95%;
	resize: none;
	padding: 7px;
	background-color: #3b4252;
	border: white 1px solid;
}